@font-face{
    font-family: "font-1";
    src: url(./Karla-Regular.ttf)
}

*{
    margin: 0px;
    padding: 0px;

    /* Ainsi maintenaznt lorsqu on va definir la largeur d un element, *
    * la largeur prendra en compte les padding et les bordures, *
    * commze ça on a plus a se soucier de savoir si un element a oui ou *
    * non un padding */
    box-sizing: border-box;

    font-family: 'font-1', sans-serif;

    /* cette ligne de code permet, par exemple pour un effet de deffillement,
    * d avoir un effet de deffillement assez doux qui ne se fait paas direxctement *
    * vers la section */
    scroll-behavior: smooth;
}

body{
    width: 100%;

}

/********************************** Header **********************************/

header{
    width: 100%;
    height: 100vh;
    /* Pour un image en ariere plan du site */
    background: url(./bgpk.jpg) no-repeat center fixed; 

    /* Pour uque l image prend tout la taille de l ariere plan */
    background-size: cover;
}

nav{
    /* Pour fixer la barre de navigation en haut */
    position: fixed;
    /* Pour une largeur de 100% */
    width: 100%;
    background:black;
    display: inline;
    z-index: 2000;
}

nav ul{
    padding: 0;
    /* Pour Centrer notre ul*/
    text-align: right;
    margin: 0;
}

nav ul li{
    /* pour que le liste de la nav barre se met a la ligne,*
    * a la suite l une de l autre */
    display: inline-block;
    /* Pour qu elle soit un peut ecarter les unes des autres */
    padding: 20px;
    transition: 0.2s;
}
nav li{
    /* Pour coller les listes entre elles */
	position: relative;
	margin-left: -40px;
}

nav ul li :hover{
    color: white;
    background: orangered;
    transition: 0.2s;
}

nav ul li a{
    text-decoration: none;
    color: orangered;
    font-size: 18px;
    font-weight: bold;
    border: solid 1px red;
    padding-right: 5px;
    padding-left: 5px;
}

.logo{
    text-decoration: none;
    /* Pour la fixer en haut */
    position: fixed;
    /* pour qu elle soit en haut a gauche */
    float: left;
    margin: 16px 36px;
    color: white;
    /* Pour qu elle soit en gras */
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
}

span{
    color:orangered;
    font-size: 40px;
}


/********************************** Body **********************************/

#pokemon div{
    transition: 0.3s;
    margin: 15px;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 10px;
    background: white;
}

#section{
    padding-top: 55px;
    background: rgb(250, 247, 224);
}
#pokemon{
    display: flex;

    /* Pour les aaligné */
    flex-direction: row;

    /* Ainsi lorsqu'un élement sort du contenaire, il faut la repositionner en bas *
    * parfait pour le responssive */
    flex-wrap: wrap;

    /* Pour répartir les blocs de manière égale */
    justify-content: space-evenly;
    background: rgb(250, 247, 224);

}
img{
    width: 200px;
    height: 250px;
}

#pokemon > p{
    text-align: center;
    width: 200px;
    position: relative;
    display: block;
}

#pokemon > div{
    text-align: center;
}

#pokemon div:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/********************************** Footer **********************************/
footer{
    /* Pour avoir des pointillés sur le bord du haut du footer */
    border-top: 1px dashed black;
    background-size: cover;
    text-align: justify;
    padding: 0px;
    width: 100%;
    height: auto;
    background: rgb(116, 112, 112); 

    /* Pour les afficher les uns a coté des autres */
    display: flex;

    /* Pour les aaligné */
    flex-direction: row;

    /* Ainsi lorsqu un element sorte du contenaire il faut la repositionner en bas *
    * parfait pour le responssive */
    flex-wrap: wrap;

    /* Pour repartire les blocks de maniere egale */
    justify-content: space-evenly;
}


#gagoe ul{
    /* Pour les affichers les uns a coté des autres */
    display: flex;

    /* Pour les aaligné */
    flex-direction: row;

    /* Ainsi lorsqu un element sorte du contenaire il faut la repositionner en bas *
    * parfait pour le responssive */
    flex-wrap: wrap;

    /* Pour repartire les blocks de maniere egale */
    justify-content: space-evenly;
        
    list-style: none;
    font-size: 30px;
    transition: 0.3s;

}


#mitchenko ul{
    /* Pour les affichers les uns a coté des autres */
    display: flex;

    /* Pour les aaligné */
    flex-direction: row;

    /* Ainsi lorsqu un element sorte du contenaire il faut la repositionner en bas *
    * parfait pour le responssive */
    flex-wrap: wrap;

    /* Pour repartire les blocks de maniere egale */
    justify-content: space-evenly;
    
    list-style: none;
    font-size: 30px;
    transition: 0.3s;
}

.mail{
    text-decoration: none;
    color: rgb(255, 68, 0);
}

.mail{
    text-decoration: none;
    color: rgb(255, 68, 0);
}

#gagoe{
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 48%; 
    height: auto;
    background: url(./teste4.png) no-repeat center;
    background-size: cover;
    color: black;
    border-radius: 10px;
}

#gagoe > p{
    display: inline;
}


#mitchenko{
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 48%; 
    height: auto;
    background: url(./test3.png) no-repeat center;
    background-size: cover;
    color: black;
    border-radius: 10px;
}

#mitchenko > p{
    display: inline;
}


/********************************** Responssive Header **********************************/

@media screen and (max-width: 430px){
    nav ul li{
        /* pour que le liste de la nav barre se met a la ligne,*
        * a la suite l une de l autre */
        display: inline-block;
    }
    nav ul{
        margin-right: -10px;
    }

    nav ul li a{
        font-size: 15px;
    }

    span{
        color:orangered;
        font-size: 30px;
    }

    .logo{
        position: fixed;
        margin: 10px 0px 0px 8px;
        font-size: 20px;
    }
    nav{
        height: 50px;

    }
}

/********************************** Responsive Body **********************************/

@media screen and (max-width: 920px){
    #pokemon div{
        transition: 0.3s;
        margin: 5px;
        box-shadow: 0px 0px 5px 0px black;
        border-radius: 10px;
        background: white;
    }

}

@media screen and (max-width: 840px){

    img{
        width: 175px;
        height: 200px;
    }

    p{
        text-align: center;
        width: 175px;
        position: relative;
    }

}

@media screen and (max-width: 575px){

    img{
        width: 150px;
        height: 185px;
    }

    p{
        text-align: center;
        width: 150px;
        position: relative;
    }
}

@media screen and (max-width: 581px){

    img{
        width: 140px;
        height: 150px;
    }

    p{
        text-align: center;
        width: 140px;
        position: relative;
    }

}

@media screen and (max-width: 449px){

    img{
        width: 120px;
        height: 130px;
    }

    p{
        text-align: center;
        width: 120px;
        position: relative;
    }

}

@media screen and (max-width: 390px){

    img{
        width: 100px;
        height: 120px;
    }

    p{
        text-align: center;
        width: 100px;
        position: relative;
    }

}

@media screen and (max-width: 330px){

    img{
        width: 90px;
        height: 100px;
    }

    p{
        text-align: center;
        width: 90px;
        position: relative;
    }

}


/********************************** Responsive Footer **********************************/

@media screen and (max-width: 906px){
    /* On va faire en sort que dées que la largeur sera en dessous de 1000px *
    * le logo passera au dessus du formulaire */
    #gagoe{
        width: 98%;
    }
    #mitchenko{
        width: 98%;
    }
}

@media screen and (max-width: 396px){
    /* On va faire en sort que dées que la largeur sera en dessous de 1000px *
    * le logo passera au dessus du formulaire */

    #gagoe{
        height: 440px;
    }

    #mitchenko{
        height: 450px;
    }

}


@media screen and (max-width: 364px){
    /* On va faire en sort que dées que la largeur sera en dessous de 1000px *
    * le logo passera au dessus du formulaire */
    footer{
        height: 1000px;
        text-align: justify;
    }

    #gagoe{
        height: 440px;
    }

    #mitchenko{
        height: 460px;
    }

}

@media screen and (max-width: 350px){
    /* On va faire en sort que dées que la largeur sera en dessous de 1000px *
    * le logo passera au dessus du formulaire */
    footer{
        height: 990px;
        text-align: justify;
    }

    #gagoe{
        height: 450px;
    }

    #mitchenko{
        height: 480px;
    }

}








